  <div class="container welcome-page">
    <div class="row">
      <div class="col-md-12 page-header">
          <h1>Medical Information System</h1>
          <div class="col-md-12 find-path"><p>Find me in app/views/welcome/main.html.erb</p></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 main-content home-buttons">
        <a href="patients/login" class="btn btn-primary login-button">Patient Login</a>
        <a href="doctors/login" class="btn btn-primary login-button">Doctor Login</a>
        <a href="nurses/login" class="btn btn-primary login-button">Nurse Login</a>
        <a href="labstaff/login" class="btn btn-primary login-button">Lab Staff Login</a>
        <a href="hspstaffs/login" class="btn btn-primary login-button">Healthcare Service Provider Login</a>
        <a href="pharmacist/login" class="btn btn-primary login-button">Pharmacist Login</a>
        <!--<a href="admin/login" class="btn btn-warning login-button">Administrator Login</a>-->
      </div>
    </div>
    <div class="row">
      <div class="usr-story">
        <h1>User Stories</h1>
      </div>
    </div>
    <div class="row">
      <div class="welcome-body">
        <div class="col-md-4">
          <h2>Alex, Doctor</h2>
          <img class="img-responsive center-block" src="http://dreamatico.com/data_images/doctor/doctor-8.jpg" alt="Smiley face" />
          <p class="home-caption"><em>"Before using MIS, recording patient details took too long. Since using MIS, I have seen a significant decrease in my workload."</em></p>
        </div>
        <div class="col-md-4">
          <h2>Sherry, Nurse</h2>
          <img class="img-responsive center-block" src="http://giftedhealthcare.com/wp-content/uploads/private-duty.jpg" alt="Smiley face" />
          <p class="home-caption"><em>"I would recommend MIS to any hospital. It makes getting patient information a breeze before I even meet them."</em></p>
        </div>
        <div class="col-md-4">
          <h2>Lisa, Lab Technician</h2>
          <img class="img-responsive center-block" src="http://blog.employersolutions.com/wp-content/uploads/2011/10/Lab-Scientist.jpg" alt="Smiley face" />
          <p class="home-caption"><em>"Interacting with doctors about labwork used to be a pain. With MIS, everything is easier -- no more reading doctor handwriting!"</em></p>
        </div>
      </div>
    </div>
  </div>
<div class="footer">
  <div class="footer-text">Posted by: ASU CSE360 Group3 15Fall</div>
  <div class="footer-text">Dayton Harris(Leader)</div>
  <div class="footer-text">Mark Androshick</div>
  <div class="footer-text">Bishnu Basnet</div>
  <div class="footer-text">Connor Golobich)</div>
  <div class="footer-text">Nash Qamer</div>
  <div class="footer-text">Balaji Sankar</div>
  <div class="footer-text">Alex Schultz</div>
  <div class="footer-text">Justin Jau-Yuan Shiao</div>
  <div class="footer-text">Daniel Villela</div>
</div>