<div class="container entry-content">
  <div class="row">
    <div class="col-md-12 page-header">
<h2>Medical Alert Sent</h2>
<p>Your alert has been sent. You will be contacted if your condition requires immediate action.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 main-content">
<a class="btn btn-info" href= "<%= @main_route %>">Return to Main Menu</a>
      </div>
    </div>
  </div>