/*
 * CSE 360 - Group 3
*/
a:hover {
    background-color:inherit;
    color: inherit;
}

* {
    font-family: Arial;
}

a.visited {
    color: inherit;
}

a.btn:visited {
    color:white;
}

.col-md-12.page-header {
    text-align:center;
    margin: auto;
    /*font-family: "Comic Sans MS", "Comic Sans", cursive;*/
}

.col-md-12.find-path {
    display:none;
    height: 0px;
}

.col-md-12.page-header-text {
    color:black;
}

.login-button {
    margin:5px;
}

.entry-content .main-content {
    text-align:center;
    margin:auto;
}

.login-image {
    max-width:150px;
    height:auto;
    margin-left:20px;
    display:inline-block;
}

.login-body form {
    display:inline-block;
    margin: 20px 0 0 20px;
}

.login-body {
    height : 691px;
}

.intro{
    background-color: rgba(255,255,255,0.5); 
    height:140px;
    margin:1% 1% 1% 1%;
    width: 98%;
    border-radius: 15px;
}

.login-body .login-content {
    margin:auto;
    float:none;
}

.body {
    /*background-size: 100%;*/
    /*background-image: url("http://pics4.city-data.com/cpicc/cfiles20907.jpg");*/
}

html, body {
    height: 100%;
    min-height: 100%;
    background-color: #BAEBF9;
}

.login-content .btn,
.edit-info .btn {
    min-width:100px;
    display:block;
    margin: auto;
}

.login-content a:hover {
    background-color:inherit;
}

.btn.small-width {
    max-width:180px;
}

.container .main-buttonview {
    float:none;
    margin:auto;
}

.container.welcome-page {
    background-color: rgba(255,255,255,0.33);
    border-radius: 10px;
    padding:20px;
    height:100%;
}

.container .main-buttonview .btn {
    max-width:300px;
    display:block;
    margin:auto;
}

ul.conditions-list li {
    font-size:17px;
    padding:5px 0;
    font-weight:700;
    text-transform:uppercase;
}

ul.conditions-list li a:hover {
    background-color: inherit;
    text-decoration:none;
    color: inherit;
}

.edit-conditions {
    max-width:500px;
}

.edit-conditions textarea {
    max-height:200px;
    max-width:450px;
    width:100%;
}

.main-content.edit-conditions {
    display:block;
    float:none;
}

.patient-table .last-col {
    border:none;
    background-color:#fff;
    width:1px;
}

.table-bordered.patient-table {
    border-right:0;
    border-bottom:0;
}

.centered-content {
    float:none;
    margin:auto;
}

.text {

}

.photo {
    background-image : url("http://dreamatico.com/data_images/doctor/doctor-8.jpg");
    background-size : 50%;
    height:100%;
}

.column-left {
    margin: 1% 1% 1% 1%;
    float:left; 
    width: 31%;
    background-color: rgba(255,255,255,0.53);
    border-radius: 15px;
}

.column-center {
    margin: 1% 1% 1% 1%;
    float:left;
    width: 31%; 
    border-radius: 15px;
    background-color: rgba(255,255,255,0.53);
}

.column-right{ 
    margin: 1% 1% 1% 1%;
    float:left;
    width: 31%;
    border-radius: 15px;
    background-color: rgba(255,255,255,0.43);
}

.col-img {
    margin: 2% 2% 2% 2%;
    width: 96%; 
    height:250px;
    border-radius: 15px;
}

.usr-story {
    text-align:center;
    margin: auto;
    /*font-family: "Comic Sans MS", "Comic Sans", cursive;*/
    background-color: rgba(255,255,255,0.43);
    /*border-radius: 5px;*/
}

.usr-story-h1 {
    /*font-family: "Comic Sans MS", "Comic Sans", cursive;*/
    text-align:center;
    margin: auto;
}

.usr-story-text {
  display: inline-block;
  font-size:30px;
  /*font-family: "Comic Sans MS", "Comic Sans", cursive;*/
  line-height: 40px;
  margin : 5% 2% 5% 2%;
  vertical-align: middle;
}

.footer {
    background-color : black;
    text-align:center;
    font-size:18px;
    height: 250px;
    line-height: 25px;
    margin: auto;
}

.footer {
    display:none;
}

.footer-text {
    color:white;
}

.home-buttons {
    text-align:center;
}

.main-content {
    padding-top:25px;
}

.button-content .btn {
    min-width: 300px;
}

.register-form {
    width:340px;
    margin:auto;
}

.patient-conditions-overview {
    text-align:center;
    max-width:300px;
    margin:auto;
    float:none;
}

.patient-conditions-overview ul li {
    list-style-type:none;
    background: url(images/bulletpoint.png) no-repeat 59px 10px;
    text-align:left;
    padding-left:75px;
}

.patient-conditions-overview ul li:before {

}

.patient-conditions-overview .btn {
    min-width:150px;
}

.dr-alert-btn {
    font-weight:bold;
}

.table-skinny {
    max-width:300px;
    margin:auto;
}

.table th {
    text-align:center;
    font-weight:bold;
    font-size:16px;
    background-color:#d0d0d0;
}

.welcome-body .col-md-4 img {
    max-height:237px;
}

.welcome-body .col-md-4 h2 {
    text-align:center;
}

.welcome-body .col-md-4 p.home-caption {
    max-width: 352px;
    display:block;
    margin:auto;
    font-size:20px;
    line-height:23px;
    padding-top:20px;
}

.welcome-page {
    padding-bottom:50px;
}

@media (min-width:1200px) {
    .container.table-wide {
        width:1300px !important;
    }
}