<div class="container entry-content">
  <div class="row">
    <div class="col-md-12 page-header">
<h1>Report Condition</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 main-content edit-conditions">
<%= form_tag(:action => 'create_submit', :patient_id => params[:patient_id]) do %>
<p>Condition:<%= collection_select("", :condition, @symptoms, :to_s, :to_s) %></p>
<% if @show_doctors_notes == true %>
<p>Notes: </br><%= text_area("", :notes, cols: 60, rows: 40) %><p>
<% end %>
<%= submit_tag("Create", :class=>"btn btn-primary")%>
<% end %>
      </div>
    </div>
  </div>
