<div class="container entry-content">
  <div class="row">
    <div class="col-md-12 page-header">
<h1>Select a Report to Generate:</h1>
<p>You are login as <%= session[:access_id]%></p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 main-content button-content">
      <p>
<a class="btn btn-primary" href="/reports/ages">Ages of Registered Patients</a>
</p><p>
<a class="btn btn-primary" href="/reports/genders">Genders of Registered Patients</a>
    </p><p>
<a class="btn btn-primary" href="/reports/ethnicities">Ethnicities/Races of Registered Patients</a>
    </p><p>
<a class="btn btn-primary" href="/reports/groups">Patient Groups</a>
    </p><p>
<a class="btn btn-primary" href="/reports/registration_dates">Patient Registration/Admission Dates</a>
    </p><p>
<a class="btn btn-primary" href="/reports/outcomes">Health Outcomes and Conditions</a>
    </p>
    </div>
    </div>
  </div>